@charset "utf-8";

html {
  font-size: 100%;
  background-color: rgb(238, 255, 249);
}

#container {
  width: 1000px;
  margin: auto;
}


/*------------------------------
 header
 ------------------------------- */
header {
  padding-top: 30px;
}

header h1 {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 8px;
}

#mainvisula {
  padding-bottom: 50px;
}



/*------------------------------
 index
 ------------------------------- */
#index {
  background-color: white;
}

#index h2 {
  font-size: 1.2rem;
  margin: 0;
}

.index_content {
  width: 600px;
  margin: auto;
  padding: 30px 0 15px 0;
}

ol {
  padding: 0;
}

ol li {
  padding-bottom: 1rem;
  margin-left: 20px;
}

ol li:last-child {
  padding-bottom: 0;
}



/*------------------------------
 detail
 ------------------------------- */
#detail {
  padding-top: 50px;
  padding-bottom: 100px;
}

.inner {
  width: 600px;
  margin: auto;
}

.detail_contents {
  display: flex;
}

.detail_img{
  width: 55%;
}

.detail_content_img {
  width: 270px;
}

.detail_contents .detail_text{
  width: 45%;
}

.detail_text dl {
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  padding:16px 0;
  border-top: solid 1px #dedede;
  border-bottom: solid 1px #dedede;
}

.detail_text h3 {
  margin: 0;
}

.detail_text p {
  font-size: 0.9rem;
  margin: 8% 0;
}

.detail_text a {
  font-size: 0.9rem;
  color: black;
}

#footer {
  font-size: 0.6rem;
  padding: 15px 0 ;
}

/*--------------------------
 レスポンシブデザイン
 ---------------------------*/

 @media screen and (max-width:1024px) {
  .detail_contents {
    flex-direction: column;
    padding: 0 40px;
  }

  .detail_img{
    width: 100%;
  }
  
  .detail_content_img {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .detail_contents .detail_text{
    width: 100%;
  }

  .detail_text dl {
    display: flex;
    flex-wrap: wrap;
  }

  .detail_text dt {
    width: 30%;
  }

  .detail_text dd {
    width: calc(70% - 40px);
  }
 }